body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: 0;
    font-family: 'Rubik';
    background-color: #f8f7fa;
    color: #eaecef;
}

html {
    scroll-behavior: smooth;
}

:root {
    --slide-width: min(25vw, 300px);
    --slide-aspect: 2 / 3;
    --slide-transition-duration: 800ms;
    --slide-transition-easing: ease;
}

a,
.btn {
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
    letter-spacing: 0.5px;
}

input {
    letter-spacing: 0.5px;
    background: #000000;
    border: 1px solid #ccc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0px;
}

.hero-section {
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 49px);
    /* display: flex; */
    background-position: center center;
}

.container {
    max-width: 1440px;
}

.header {
    padding: 0px 0px;
    position: relative;
}

.logo img {
    width: 157px;
    top: 24px;
    position: absolute;
}

.header .row {
    justify-content: space-between;
    align-items: center;
    padding: 49px;
    padding-bottom: 0px;
}

.header-menu ul li a {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.header-menu ul li a:hover {
    color: #dbba6e;
}

.small-btn {
    font-size: 19px;
    display: inline-flex;
    padding: 12px 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    align-items: center;
    background: radial-gradient(ellipse farthest-corner at right bottom, #eeac03 0%, #daa526 8%, #9f7928 30%, #976800 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #dca216 8%, #e7a90b 25%, #e1a511 62.5%, #5d4a1f 100%);
    border: 1px solid #fff;
    gap: 6px;
    position: relative;
    animation: shadowPulse 1s infinite;
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0 0 0 0px rgb(157 118 33);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(82, 221, 103, 0);
    }
}

.small-btn:hover {
    color: #fff;
    transform: translate(0, -5px);
}

.small-btn:hover img {
    filter: none;
}

.small-btn img {
    width: 28px;
    margin-right: 5px;
}

.hero-text h1 {
    margin-bottom: 40px;
    color: #fff;
    font-size: 55px;
    line-height: 64px;
    font-weight: 600;
}

.section-title {
    text-align: center;
}

.header-menu ul {
    margin: 0px -20px;
}

.header-menu ul li {
    display: inline-block;
    padding: 0px 20px;
}

.hero-text h5 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 15px;
}

.hero-img-inner img {
    max-width: 567px;
}

.hero-img-inner {
    text-align: right;
}

.screenshot-sec {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../img/screen-bg.png');
    background-size: cover;
    background-position: center;
}

.about-us-sec .row {
    align-items: center;
}

.text-box p {
    font-size: 18px;
    color: #383838;
    font-weight: 500;
    line-height: 30px;
}

.about-us-sec .text-box h3 {
    margin-bottom: 13px;
}

.about-us-sec .how-to-play-img img {
    width: 260px;
}

.about-us-sec {
    margin-bottom: 0;
    padding: 224px 0px;
    overflow: hidden;
    margin-top: -73px;
    position: relative;
}

img.bg-shape {
    position: absolute;
    width: 596px;
    top: 34px;
}

.mobile-num {
    transition: 0.3s;
    display: flex;
    color: #fff;
    background: #200040;
    height: 60px;
    font-size: 18px;
    padding: 0px 5px;
    padding-right: 20px;
    border: 1px solid #ffffff57;
    border-radius: 103px;
    align-items: center;
}

.mobile-num:hover {
    color: #fff;
}

.mobile-num-img {
    position: relative;
    color: #fff;
    background: radial-gradient(ellipse farthest-corner at right bottom, #eeac03 0%, #daa526 8%, #9f7928 30%, #976800 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #dca216 8%, #e7a90b 25%, #e1a511 62.5%, #5d4a1f 100%);
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    margin-right: 10px;
}

.mobile-num-img img {
    filter: invert(1);
    width: 25px;
}

.whatsapp-num-img img {
    filter: invert(1);
    width: 25px;
}

.whatsapp-num-img {
    position: relative;
    color: #fff;
    background-color: #44c054;
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    margin-right: 10px;
}

.contact span {
    color: #ffc842;
    font-weight: 600;
    margin-right: 15px;
}

.whatsaap-info {
    transition: 0.3s;
    display: flex;
    color: #fff;
    border: 1px solid #ffffff57;
    background: #200040;
    height: 60px;
    font-size: 18px;
    padding: 0px 5px;
    padding-right: 20px;
    border-radius: 103px;
    align-items: center;
}

.whatsaap-info:hover {
    color: #fff;
}

.contact {
    display: flex;
    text-align: center;
    padding: 13px 10px;
    margin: auto;
    column-gap: 17px;
    width: max-content;
    margin-top: -47px;
    position: relative;
    z-index: 1;
    border-radius: 13px;
    justify-content: center;
}

.testimonial-sec .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: auto;
    width: 100%;
    background: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slider-in {
    overflow: hidden;
}

.slider-testimonial {
    overflow: hidden;
    position: relative;
    max-width: 80%;
    width: 100%;
    margin: auto;
    margin-top: 60px;
}

.testimonial-sec .swiper-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    height: max-content;
}

.testimonial-sec .swiper-button-next,
.testimonial-sec .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 38px;
    height: 38px;
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 4px 0px #00000091;
    color: #000;
    background: white;
    border-radius: 12px;
}

.testimonial {
    overflow: hidden;
    text-align: left;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.testimonial-img {
    width: 32%;
    text-align: center;
}

.testimonial-top-text {
    flex: 1;
    display: flex;
    padding: 58px 23px;
    border-radius: 11px;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 1px 16.3px 4px rgba(0, 0, 0, 0.10) inset, 0px 1px 4px 1px rgba(0, 0, 0, 0.05);
}

.testimonial .testimonial-prof {
    text-transform: capitalize;
    margin: 0 30px;
}

.testimonial .pic img {
    width: 100%;
    height: auto;
}

.testimonial .testimonial-prof h4 {
    color: #a67435;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.testimonial .pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 30px 10px;
    display: inline-block;
    border: 3px solid #dbbc73;
}

.testimonial .testimonial-prof small {
    display: flex;
    font-size: 14px;
    color: #fff;
}

.testimonial .description span {
    display: block;
    background-color: unset;
    color: #202020;
    width: 100%;
    text-transform: none;
    font-size: 38px;
    font-weight: 500;
    padding: 0;
    letter-spacing: 0;
    margin-bottom: 38px;
}

.testimonial-desciption {
    width: 60%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.testimonial .description {
    color: #383838;
    position: relative;
    font-size: 23px;
    font-weight: 500;
    line-height: 31px;
    background-color: #fff;
}

.testimonial-img h3 {
    color: #202020;
    font-weight: 600;
    margin-top: 19px;
    font-size: 20px;
}

.description-icon i {
    color: #FF5C00;
    font-size: 21px;
}

.testimonial-sec {
    padding: 118px 0px;
    position: relative;
    overflow: hidden;
}

.testimonial-bg-shape {
    top: 31%;
    width: 356px;
    left: -119px;
    transform: rotate(45deg);
    position: absolute;
}

.testimonial-bg-shape-1 {
    top: 31%;
    width: 356px;
    position: absolute;
    right: -119px;
    transform: rotate(45deg);
}

.mobile-application {
    background-image: url(../img/application-bg.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 0px;
}

.user-img img {
    width: 350px;
}

.card-shape {
    position: absolute;
    right: 20px;
    top: 13px;
}

.description-icon {
    padding: 13px 5px;
}

.hero-text-sec .row {
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.hero-text-sec {
    padding: 40px 0px;
    justify-content: space-between;
    height: 89%;
    align-items: center;
    width: 100%;
    display: flex;
}

.inner-row {
    display: flex;
    justify-content: center;
}

.today-result.p-60 {
    padding: 45px 0px 60px 0px;
}

.p-60 {
    padding: 60px 0px;
}

.section-title h2 {
    display: inline-block;
    position: relative;
    font-size: 48px;
    color: #202020;
    font-weight: 600;
}

.screenshot-sec .section-title h2 {
    color: #fff;
}

.result-inner-main {
    margin-top: 60px;
}

.result-item {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    background-color: #fff;
}

.top-shape {
    background: #d2b265;
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 75%, 0 50%);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-shape:before {
    content: '';
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 100% 25%, 50% 50%, 0 25%);
    width: 100%;
    height: 200px;
    background: #be964f;
    right: 0;
    left: 0;
}

.top-shape h3 {
    z-index: 2;
    position: relative;
    color: #000;
    margin-top: -55px;
    font-weight: 600;
    font-size: 26px;
}

.result-inner-main .row {
    row-gap: 30px;
}

.result-text-in {
    text-align: center;
    margin-top: -26px;
}

.result-text-in h4 {
    color: #be964f;
    font-size: 50px;
}

.result-date-time .time {
    background-color: #be964f;
}

.result-date-time .date {
    background-color: #d2b265;
}

.result-date-time p {
    background-color: #be964f;
    padding: 7px 5px;
}

.result-date-time {
    display: inline-block;
    padding: 0;
    width: 75%;
    margin-bottom: 40px;
    margin-top: 25px;
    color: #000;
    font-weight: 500;
    border-radius: 10px;
    overflow: hidden;
}

.screenshot-sec .swiper {
    width: 64.9%;
    margin-top: 60px;
    min-height: max-content;
    height: max-content;
    padding-bottom: 12px;
}

.screenshot-sec .swiper-pagination {
    display: none;
}

.swiper-slide {
    width: 300px;
    height: 600px;
    border-radius: 10px;
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-slide span {
    text-transform: uppercase;
    color: #fff;
    background: #1b7402;
    padding: 7px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    background: linear-gradient(90deg, #ECD581 0%, #9A6428 100%);
}

.swiper-slide--one span {
    background: #62667f;
}

.swiper-slide--two span {
    background: #087ac4;
}

.swiper-slide--three span {
    background: #b45205;
}

.swiper-slide--four span {
    background: #087ac4;
}

.swiper-slide h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 24px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-weight: bold;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide p {
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    align-items: center;
    padding: 5px;
}

.swiper-slide svg {
    color: #fff;
    width: 22px;
    height: 22px;
    margin-right: 7px;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

.swiper-slide img {
    width: 100%;
}

.how-to-play.p-60 {
    padding: 100px 0px;
}

.how-to-play-img img {
    width: 100%;
}

.how-to-play-img {
    text-align: center;
}

.text-box h3 {
    color: #202020;
    font-size: 42px;
    font-weight: 600;
}

.text-box ol {
    margin-top: 20px;
    color: #000;
    padding-left: 20px;
    margin-bottom: 22px;
}

.text-box ol li {
    font-size: 21px;
    font-weight: 500;
    color: #383838;
    margin-bottom: 0px;
}

.text-box .btn-1 {
    color: #000;
}

.text-box .btn-1 img {
    filter: invert(1);
}

.how-to-play .row {
    align-items: center;
}

.copy-right-img {
    text-align: center;
}

.copy-right-img img {
    width: 248px;
    margin-bottom: 30px;
}

.copy-right {
    padding: 25px 0px;
    background-color: #000;
}

.copy-right p {
    color: #fff;
    text-align: center;
}

p.copy-right-text {
    margin-top: 25px;
}

a.burger img {
    width: 45px;
    filter: invert(1);
}

a.burger,
a.closebtn {
    display: none;
}

.play-rates {
    padding: 130px 0px;
    padding-bottom: 0px;
}

.play-rates-info {
    margin-top: 54px;
}

.play-rates-content p {
    color: #000;
    font-weight: 500;
    font-size: 19px;
    margin-top: 8px;
}

.play-rates-content {
    padding: 29px;
    text-align: center;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #0003;
    justify-content: center;
    height: 100%;
    transition: 0.3s;
    border-radius: 11px;
    display: flex;
    box-shadow: 0px 1px 16.3px 4px rgba(0, 0, 0, 0.10) inset, 0px 1px 4px 1px rgba(0, 0, 0, 0.05);
}

.play-rates-content:hover {
    transform: translateY(-10px);
}

.play-rates-info .row {
    row-gap: 29px;
}

.download-app {
    text-align: center;
    margin-top: 53px;
}

section.users-download img {
    width: 100%;
}

@media (max-width: 1400px) {
    .hero-img-inner img {
        max-width: 381px;
    }
}

@media (max-width: 1250px) {
    #sidebar {
        left: -300px;
    }
    .about-us-sec {
        padding: 154px 0px;
    }
    .card-shape {
        position: absolute;
        right: 51px;
        width: 250px;
        top: 59px;
    }
    .user-img img {
        width: 188px;
    }
    .hero-img-inner img {
        max-width: 478px;
    }
    .screenshot-sec .swiper {
        width: 67.9%;
    }
    .hero-text h1 {
        font-size: 46px;
    }
    .hero-text h1 {
        font-size: 48px;
        line-height: 57px;
    }
}

@media (max-width: 991px) {
    .navbar .container-fluid {
        display: flex;
        flex-wrap: nowrap;
    }
    .text-box h3 {
        font-size: 34px;
    }
    .text-box ol li {
        font-size: 18px;
    }
    .hero-text h1 {
        font-size: 31px;
        line-height: 40px;
    }
    .hero-img-inner img {
        max-width: 356px;
    }
    .testimonial-sec .swiper-container {
        width: 80%;
    }
    .slider-testimonial {
        max-width: 100%;
    }
    .hero-section {
        height: calc(100vh - 249px);
    }
    .about-us-sec .how-to-play-img img {
        width: 181px;
    }
    .text-box p {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
    }
    .card-shape {
        position: absolute;
        right: -10px;
        width: 193px;
        top: 55px;
    }
    .logo img {
        width: 104px;
    }
    .contact {
        width: 100%;
        display: block;
        border-radius: 0px;
        margin-top: 0px;
    }
    .whatsapp-num-img {
        width: 30px;
        height: 30px;
    }
    .mobile-num-img {
        width: 30px;
        height: 30px;
    }
    .mobile-num-img img {
        width: 14px;
    }
    .whatsapp-num-img img {
        width: 20px;
    }
    .mobile-num {
        height: 46px;
        width: 365px;
        justify-content: center;
        display: flex;
        margin: auto;
        align-items: center;
        margin-bottom: 15px;
        font-size: 15px;
    }
    .whatsaap-info {
        height: 46px;
        width: 365px;
        justify-content: center;
        display: flex;
        margin: auto;
        align-items: center;
        font-size: 15px;
    }
    .header-menu ul li a {
        font-size: 13px;
    }
    .header-menu ul li {
        padding: 0px 11px;
    }
}

@media (max-width: 767px) {
    a.burger,
    a.closebtn {
        display: block;
    }
    .about-us-sec {
        padding: 62px 0px;
        margin-top: 0px;
    }
    img.bg-shape {
        position: absolute;
        width: 50%;
        top: 34px;
    }
    .play-rates {
        padding: 35px 0px;
    }
    .contact {
        width: auto;
    }
    .play-rates-info .row {
        row-gap: 7px;
    }
    .hero-img-inner img {
        display: none;
    }
    .how-to-play-img img {
        width: 190px;
    }
    .hero-section {
        height: calc(100vh - 368px);
    }
    .play-rates-content {
        padding: 7px;
        margin-bottom: 9px;
    }
    a.burger {
        display: block;
        text-align: end;
    }
    .testimonial-sec .swiper-container {
        width: 92%;
    }
    img.bg-shape {
        display: none;
    }
    .card-shape {
        display: none;
    }
    .testimonial .description span {
        font-size: 30px;
        margin-bottom: 14px;
    }
    .mobile-application {
        width: 100%;
        padding-top: 46px;
        padding-bottom: 82px;
    }
    .how-to-play-img img {
        display: none;
    }
    .overlay-1 {
        display: none;
    }
    .hero-text {
        text-align: center;
    }
    .hero-text-sec .row {
        row-gap: 50px;
        margin: 0;
    }
    .header .row {
        margin: 0;
    }
    .text-box ol li {
        font-size: 18px;
        margin-bottom: 5px;
        text-align: left;
    }
    .text-box ol {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    #mob-menu {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -250px;
        background-color: #200040;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        display: block;
        margin-left: -10px;
        border-right: 1px solid #44295f;
        box-shadow: 0px 4px 14px 0px rgb(87 62 111);
        transition: all 0.5s;
    }
    #mob-menu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #fff;
    }
    .header-menu ul {
        display: block;
        margin: 0;
        padding: 0px 20px;
    }
    div#menu-1 {
        z-index: 99;
        position: relative;
    }
    .overlay-1:after {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #0000005e;
        right: 0;
        left: 0;
        top: 0;
    }
    .menu.open #mob-menu {
        width: 250px;
        margin-left: 0px;
        display: block;
        text-align: left;
        left: 0px;
        transition: all 0.5s;
    }
    .menu.open .overlay-1 {
        display: block;
    }
    .header-menu ul li {
        padding: 8px 0px;
        display: block;
        border-bottom: 1px solid #ffffff54;
        margin-bottom: 8px;
    }
    .hero-img-inner {
        text-align: center;
    }
    .dash_row h2 {
        padding: 10px 0px;
        padding-top: 0px;
    }
    .table td {
        font-size: 14px;
    }
    .table_bg .input-group {
        margin-bottom: 15px;
    }
    .m_top {
        margin-top: 0;
    }
    .mb15 {
        margin-bottom: 15px;
    }
    .mt10 {
        margin-top: 0;
    }
    .how-to-play.p-60 {
        margin: 45px 0px;
        padding: 70px 0px;
        margin-bottom: 00;
    }
    .how-to-play .row {
        row-gap: 40px;
    }
    .text-box h3 {
        font-size: 28px;
    }
    .about-us-sec.p-60 {
        margin: 0;
        padding: 60px 0px;
    }
    .about-us-sec .text-box h3 {
        margin-bottom: 20px;
    }
    .about-us-sec .text-box {
        text-align: center;
    }
    .about-us-sec .row {
        row-gap: 0px;
    }
    .about-us-sec .text-box p {
        font-size: 15px;
        line-height: 26px;
    }
}

@media (max-width: 575px) {
    .screenshot-sec .swiper {
        width: 74.9%;
        margin-top: 30px;
    }
    .download-app {
        text-align: center;
        margin-top: 26px;
    }
    .play-rates-info {
        margin-top: 25px;
    }
    .testimonial-sec .swiper-container {
        width: 100%;
    }
    .play-rates {
        padding-bottom: 0px;
    }
    .header .row {
        padding: 0px 16px;
        padding-top: 24px;
    }
    .small-btn {
        font-size: 15px;
        padding: 9px 19px;
    }
    .small-btn img {
        width: 21px;
    }
    .how-to-play-img img {
        display: none;
    }
    .mobile-application {
        padding-top: 30px;
        padding-bottom: 61px;
    }
    .copy-right-img img {
        width: 148px;
        margin-bottom: 18px;
    }
    .copy-right p {
        color: #fff;
        font-size: 11px;
    }
    p.copy-right-text {
        margin-top: 25px;
        font-size: 11px;
    }
    .hero-img-inner img {
        display: none;
    }
    .testimonial-sec .swiper-button-next,
    .testimonial-sec .swiper-button-prev {
        width: 30px;
        height: 30px;
    }
    .section-title h2 {
        font-size: 24px;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-family: swiper-icons;
        font-size: 16px;
    }
    .testimonial .pic {
        width: 70px;
        height: 70px;
    }
    .text-box h3 {
        font-size: 22px;
    }
    .p-60 {
        padding: 45px 0px;
    }
    .text-box ol li {
        font-size: 14px;
        margin-bottom: 1px;
    }
    .screenshot-sec {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .how-to-play.p-60 {
        margin: 20px 0px;
    }
    .result-inner-main {
        margin-top: 45px;
    }
    .today-result.p-60 {
        padding: 40px 0px 40px 0px;
    }
    .top-shape h3 {
        font-size: 22px;
    }
    .hero-text-sec .row {
        row-gap: 0;
    }
    .logo img {
        width: 98px;
        top: 15px;
    }
    .hero-text-sec {
        height: 84%;
    }
    .btn-1 img {
        width: 19px;
        margin-right: 0px;
    }
    .btn-1 {
        font-size: 14px;
        padding: 10px 20px;
    }
    .hero-text h1 {
        margin-bottom: 18px;
        font-size: 26px;
        line-height: 32px;
    }
    .hero-text h5 {
        font-size: 13px;
        letter-spacing: 1px;
        margin-bottom: 10px;
        line-height: 23px;
    }
    .hero-text-sec {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .inner-row {
        flex-wrap: wrap;
    }
    .swiper-slide {
        width: 223px;
        height: 444px;
        border-radius: 10px;
    }
    .how-to-play-img img {
        width: 180px;
    }
    .login_text {
        width: 100%;
        max-width: 100%;
        height: 100vh;
        border-radius: 0px;
        padding: 15px;
    }
    .slider-testimonial {
        margin-top: 16px;
    }
    img.bg-shape {
        display: none;
    }
    .card-shape {
        display: none;
    }
    .about-us-sec .row {
        row-gap: 0px;
    }
    .about-us-sec {
        padding: 26px 0px;
    }
    .about-us-sec .text-box p {
        font-size: 12px;
        line-height: 20px;
    }
    .testimonial-sec {
        padding: 33px 0px;
    }
    .testimonial-img h3 {
        font-size: 13px;
    }
    .testimonial-bg-shape-1 {
        width: 190px;
    }
    .testimonial-bg-shape {
        width: 190px;
    }
    .hero-section {
        height: calc(100vh -401px);
    }
    .close_btn {
        font-size: 12px;
    }
    .play-rates-content img {
        width: 70px;
    }
    .mobile-num {
        width: 340px;
    }
    .whatsaap-info {
        width: 340px;
    }
    .contact {
        padding: 12px 0px;
    }
    .text-box ol {
        margin-top: 14px;
        margin-bottom: 18px;
    }
    .testimonial-top-text {
        align-items: center;
        padding: 15px 19px;
        justify-content: space-evenly;
    }
    .description-icon {
        padding: 0px 5px;
    }
    .play-rates-content p {
        font-size: 15px;
    }
    .description-icon i {
        color: #FF5C00;
        font-size: 14px;
    }
    .testimonial .description span {
        margin-bottom: 9px;
        font-size: 15px;
    }
    .testimonial .description {
        font-size: 12px;
        line-height: 17px;
        padding-bottom: 0px;
    }
}

@media (max-width: 400px) {
    .copyright {
        line-height: 16px;
        font-size: 10px;
        padding: 0 15px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 15px 10px;
    }
}